<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
</style>

html,
body {
  margin: 0
}

.content {
  margin-left: 4px;
  margin-right: 4px;
}

.main {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 1.8rem;
  flex-shrink: 0;
  margin-top: .3rem;
  margin-bottom: 0.3rem;
  align-items: center;
}

.middle {
  display: flex;
  align-content: stretch;
  flex-grow: 1;
}

.footer {
}

svg {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
    /*
  flex: 1 1 auto;
  */
}

.box .row.footer {
  flex: 0 1 40px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node .selected {
  stroke: black;
}

.link {
  stroke: #999;
}

/* ---------- stuff for the collapsible section ----------*/
input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;

  padding: 1rem;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background: rgba(180, 180, 180, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);

  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
  margin-bottom: 0.5rem;
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .25s ease-in-out;
    margin-bottom: 0.5rem;

}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upper-button {
  font-size: 0.9rem;
  font-weight: bold;
  color: #444;
  border: 1px solid #ccc  ;
  font-family: 'Open Sans', sans-serif;

  padding: .2rem;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: white;
}

.inputfile + label {
  display: inline-block;

}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgba(180, 180, 180, .2);
}