html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
    /*
  flex: 1 1 auto;
  */
    width: 600px;
    height: 600px;

}

.box .row.footer {
  flex: 0 1 40px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.3;
}

svg {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

